body {
  font-family: 'Rubik', sans-serif;
  background-image: url("https://www.fightersgeneration.com/nf9/game/stage/2/mortalkombat2-stage-the-portal.gif");
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}


h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

h1,
h2 {
  font-family: 'Rubik Wet Paint', cursive;
  color: #BB0002;
}