body {
  font-family: 'Signika', sans-serif;
  background-image: url("https://www.fightersgeneration.com/nf9/game/stage/mk2-stage-kombat-tomb.gif");
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}

.hero {
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  padding-top: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  color: black; 
}

h3,
p 
{
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color:antiquewhite; 
}
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-family: 'Signika', sans-serif;
  
}

h1,
h2 {
  font-family: 'Rubik Wet Paint', cursive;
  color: #BB0002;
  text-shadow: 2px 2px 5px black;
}

.card {
  box-shadow: 8px 5px 5px rgba(80, 0, 0, 0.336);
  background-color: rgb(51, 0, 51);
  color: aliceblue;
}

